{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Administration</h1>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
              <a class="btn btn-lg btn-block btn-primary" href="/addItem">Добавить товар</a>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-primary">Видалити</button>
        </div>
    </div>



</div>
{% endblock %}


